/* Medium Layout: 1200px. */
@media only screen and (min-width: 800px) and (max-width: 1280px){
	
	
	.divider {
	margin-top:10px;
}
#btn1 {
	background: #4c9ed9 none repeat scroll 0 0;
	border: 0 none;
	border-radius: 0 5px 5px 0;
	font-size: 15px;
	margin: 1px 471px 0 -42px;
	padding: 7px;
}
.footer-bottom-right {
	float: right;
	margin-top: -85px;
}
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px){
	
	.project-text {
	 position: static;
}
.image-text p {
	padding: 0px 227px;
}
btn1 {
	background: #4c9ed9 none repeat scroll 0 0;
	border: 0 none;
	border-radius: 0 5px 5px 0;
	font-size: 15px;
	margin: 1px 471px 0 -42px;
	padding: 7px;
}
.slider{
	width:100%;
	height:250px;
	background:#777;
}
	
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px){
	
	.carousel-indicators {
  top: 80%;
}
.divider {
	margin-top: 47px;
}
.project-text {
	 position: static;
}
.image-text {
	margin-top: -132px;
}
.slider{
	width:100%;
	height:250px;
	background:#777;
}
	
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px){
	
.slider{
	width:100%;
	height:250px;
	background:#777;
}
	
}