*{
	margin:0;
	padding:0;
}
body{
	margin:0;
	padding:0;
	font-family:arial;
	background-color:000;
}
a{
	text-decoration:none;
	
}
h1,h2,h3,h4,h5,h6{
	    margin-top:0px;
}
p{
	color:000;
	text-align:justify;
}
.ful_body{
	margin:0 auto;
	width:1200px;
}
.topnav{
	display:flex;
	justify-content:space-between;
	background:#683091;
}
.img{
	width:50px;
	height:auto;
	
}
.right_side{
	
	padding: 30px 0px;
}
.src_btn{
	border: 1px solid #34740e;
    border-radius: 3px;
    background: #34740e;
    padding: 5px 16px;
    color: white;
    margin-left: 10px;
    font-weight: bold;
}
.lang{
	border: 1px solid #aaa;
    padding: 7px;
    border-radius: 5px;
}
.ssc{
	height: 25px;
    border-radius: 5px;
}
.slider{
	width:100%;
	height:350px;
	background-image:url(img/slider1.jpg);
	background-repeat: round;
	
}
.menubar {
  background-color: #FAFAFA;
  overflow: hidden;
  
}

/* Style the links inside the navigation bar */
.menubar a {
  float: left;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom:1px dotted #ccc;
  border-left:1px dotted #ccc;
  border-right:1px dotted #ccc;
}

/* Change the color of links on hover */
.menubar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}


.main_content{
	display:flex;
	overflow:hiden;

}
.content{
	flex:75%;
	background:transparent;
	margin-right:5px;
	overflow: hidden;
}
.side_bar{
	flex:25%;
	background:transparent;
	overflow: hidden;
}

.side_header{
	background: #609513 !important;
    color: white;
    padding: 10px;
}
	

#img{
	padding: 7px 100px;
}
	


.side_cont{
	margin-top:40px;
}
.news{
	background:#ccc;
	padding:5px;
}
li{
	list-style:none;
}
.notice_bord{
	background: lavender;
}
.notic_content{
	margin-left: 166px;
	padding: 50px 0px;
}
#icon{
	margin: 0 auto;
    padding: 0;
    float: left;
}
.another{
	display:flex;
}
.part1{
	flex:50%;
	background: #ccc;
    border: 2px solid #b9b7b7;
	margin-right: 15px;
	margin-top:15px;
	
}

.part2{
	flex:50%;
	background: #ccc;
    border: 2px solid #b9b7b7;
	
	margin-top:15px;
	
}
.Bigibiti_content{
	padding:27px;
}


